
.page-content {
  margin: 20px 0;
}

/* Main page */
.app .nav {
  background: #eee;
  padding-top: 5px;
}

.nav-link.logo.disabled {
  font-weight: bold;
  color: #555;

}

.page-wrapper {
  margin: 15px;
}

form.settings {
  margin-top: 15px;
  margin-bottom: 60px;
}

.form-group {
  margin-right: 10px;
}

#fileInput, #fileUpload {
  display: none;
}

/* .file-upload {
  position: absolute;
  top: 121px;
  right: 15px;
} */

.progress {
  margin: 5px 0;
}

#speicesSelect {
  margin-left: 5px;
}

/* Generated pages */
/* .pages {
  transform: scale(0.8);
  font-size: 60% !important;
  zoom: 80%;
}
 */

.page {
  border: 1px solid #ccc;
  padding: 30px;
  max-width: 1000px;
  min-height: 1000px;
  margin: 20px 0;
}

.page-header {
  font-size: 2.3rem;
  text-align: center;
  border-bottom: 2px solid #999;
  /* margin-top: -15px; */
}

.page-sub {
  font-size: 16px;
  font-weight: bold;
  color: #777;
  margin: 18px 0px;
}

.page-sub i {
  font-size: 1.4rem;
  color: #222;
  margin-right: 15px;
  margin-left: 5px;
}

.page-sub .klass i {
  background-color: #333;
  color: #eee;
  padding: 5px 10px;
}

.page-header span {
  font-size: 12px;
  font-weight: bold;
  background-color: #55ee55;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.page-header span:empty {
  display: none;
}

.card-body {
  padding: 5px 10px;
}

.card-img-overlay {
  text-align: center;
  margin-top: 35%;
}

.card-title {
  margin-bottom: 0;
  font-size: 18px;
  min-height: 2.6rem;
  line-height: 1.3rem;
}

.card-title i {
  margin-right: 5px;
}

.card-footer {
  background-color: #e7e7e7;
  padding: 5px 10px;
  font-size: 13px;
}

.card.dummy {
  border: none;
}

@media print {
  .header {
    display: none;
  }

  .page {
    border: none;
    padding: 0;
    max-width: auto;
    min-height: auto;
    margin-top: 0;
  }

  .page-header {
    page-break-before: always;
  }

  .page-header span {
    background-color: chartreuse !important;
    -webkit-print-color-adjust: exact;
  }

  .page-sub .klass i {
    background-color: #333 !important;
    -webkit-print-color-adjust: exact;
  }

  .card {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .card-footer {
    background-color: #e7e7e7 !important;
    -webkit-print-color-adjust: exact;
  }

}

